node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.coverage
.coverage/
.vscode
*.swp
*.swo
*~
.DS_Store
logs/
data/cache
tmp/
web.old/
src.old/
dist/
build/
alt/pack/
alt/main/
src/pack/
src/main/kiri.js
src/main/mesh.js
*.log
.DS_Store
Thumbs.db